<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- Đặt thành false nếu camera không bắt buộc -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChuyenDe">
        <activity
            android:name=".activities.manages.QLThongKe"
            android:exported="false" />
        <activity
            android:name=".activities.manages.InvoiceListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.InvoiceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SelectedFoodActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FoodMenuActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.homes.HomeQuanLy"
            android:exported="false" />
        <activity
            android:name=".activities.manages.QLBan"
            android:exported="false" />
        <activity
            android:name=".activities.login_forgot.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".activities.login_forgot.Login"
            android:exported="false" />
        <activity
            android:name=".activities.homes.HomeNhanVien"
            android:exported="false" />
        <activity
            android:name=".activities.manages.QLNhanVien"
            android:exported="false" />
        <activity
            android:name=".activities.manages.QLMonAn"
            android:exported="false" />
        <activity
            android:name=".activities.manages.QLDanhMuc"
            android:exported="false" />
    </application>

</manifest>